
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Konwledge Sharing</title>
    <link href="~/Content/AccountStyle.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/PostStyle.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/LayoutStyle.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

</head>
<body>
   
        <div>
            <ul class="sidenav">
                <li>@Html.ActionLink("Knowledge Sharing", "Index", "Home")</li>
                <li>@Html.ActionLink("Create", "Create", "User")</li>
                <li>@Html.ActionLink("Display", "Display", "User")</li>
                <li style="float:right">@Html.ActionLink("SignIn", "SignIn", "Account")</li>
                <li style="float:right">@Html.ActionLink("SignUp", "SignUp", "Account")</li>
            </ul>
        </div>
   
    <div class="body-content">
        @RenderBody()
    </div>
</body>
</html>
